/* Container General */
.main-container {
  position: relative;
  padding-left: 20px;
  height: 502px;
  background-color: rgba(255, 184, 202, 1);
}

/* Container Stânga */
.left-container {
  position: absolute;
  top: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.logo-svg {
  width: 199px;
  height: 50px;
}

.hero-title {
  padding-top: 136px;
  width: 218px;
  height: 106px;
  font-family: 'Titan One', sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 29.77px;
  letter-spacing: 0.04em;
  text-align: left;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.highlight {
  font-family: 'Titan One', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 46.32px;
  color: rgba(212, 20, 67, 1);
}

.buttons-container {
  display: flex;
  gap: 8px;
  padding-top: 20px;
}

.products-button,
.how-made-button {
  font-family: 'DM Sans', sans-serif;
  font-size: 8px;
  font-weight: 400;
  line-height: 10.42px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  color: rgba(212, 20, 67, 1);
  transition: background-color 250ms ease-in-out;
}

.products-button:hover,
.how-made-button:hover {
  background-color: #d41443;
  color: #fff;
}

.paragraph-icon-container,
.milk-bottle,
.description-paragraph {
  display: none;
}

/* Container Centru */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ice-cream-image {
  position: absolute;
  right: 32px;
  top: 100px;

  > svg {
    position: absolute;
    inset: -9px auto auto -81px;
    width: 346px;
    height: 344px;
  }

  > img {
    position: relative;
    width: 171px;
  }
}

/* Container Dreapta */
.right-container {
  position: absolute;
  top: 27px;
  right: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-end;
  z-index: 2;
}
.header-right-container {
  display: flex;
  align-items: center;
}

.icon-burger-menu {
  width: 20px;
  height: 12px;
  border: 1px;
}

.buy-now-container {
  display: none;
}

.stats-container,
.person-container {
  display: none;
}

/* Media Query pentru Tablete și Dispozitive Mai Mari */
@media screen and (min-width: 768px) {
  .main-container {
    height: 416px;
    padding-left: 32px;
  }
  .right-container {
    top: 15px;
    right: 32px;
  }
  .hero-title {
    padding-top: 20px;
    font-size: 22px;
    line-height: 25.19px;
    width: 162px;
    height: 80px;
  }

  .highlight {
    font-size: 34px;
    line-height: 30.77px;
  }

  .paragraph-icon-container {
    display: flex;
    align-items: center;
  }

  .milk-bottle {
    padding-top: 20px;
    display: block;
    width: 152px;
    height: 154px;
  }
  .description-and-button-container {
    display: flex;
    flex-direction: column;
  }
  .description-paragraph {
    width: 114px;
    display: flex;
    font-family: 'DM Sans', sans-serif;
    font-size: 8px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
  .arrow-right {
    margin-top: 7px;
    font-family: 'DM Sans', sans-serif;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: none;
    color: rgba(212, 20, 67, 1);
    background-color: #fff;
    transition: background-color 250ms ease-in-out;
    cursor: pointer;
  }

  .ice-cream-image {
    > svg {
      inset: -37px auto auto -74px;
      width: 335px;
      height: 333px;
    }
    > img {
      width: 143px;
    }
    right: 303px;
    height: 336px;
    top: 80px;
  }
  .buy-now-container {
    display: flex;
  }

  .buy-now-button {
    border-radius: 20px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(212, 20, 67, 1);
    transition: background-color 250ms ease-in-out;
    width: 160px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms ease-in-out;
    margin-left: 32px;
  }
  .buy-now-button:hover {
    color: #fff;
    background-color: rgba(212, 20, 67, 1);
  }

  .stats-container {
    display: flex;
    flex-direction: column;
  }

  .stat {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .cafes-number {
    width: 43px;
    height: 44px;
  }

  .food-truck-number {
    width: 51px;
    height: 43px;
  }

  .person-container {
    display: flex;
  }
  .person-image {
    margin-top: 87px;
    width: 190px;
    height: 150px;
  }
}
