<header class="main-container">
  <!-- Container Stânga: Informații despre brand și produse -->
  <div class="left-container">
    <div class="logo-container">
      <a href="./index.html">
        <svg class="logo-svg">
          <use href="./images/icons.svg#icon-logo-group"></use>
        </svg>
      </a>
    </div>

    <div class="title-container">
      <h1 class="hero-title">Ice Cream Made with <span class="highlight">Passion</span></h1>
    </div>

    <div class="buttons-container">
      <button class="products-button">Products</button>
      <button class="how-made-button">How it's made?</button>
    </div>

    <div class="paragraph-icon-container">
      <img src="./images/header/milk-bottle1x.png" alt="Milk Bottle" class="milk-bottle" />
      <p class="description-paragraph">Indulge in a scoop of ice cream made with passion and treat your taste buds to an unforgettable experience!</p>
    </div>
  </div>

  <!-- Container Centru: Imaginea Înghețatei -->
  <div class="center-container">
    <div class="ice-cream-image">
      <svg class="pink-circle">
        <use href="./images/icons.svg#pink-circle" />
      </svg>
      <img src="./images/header/icecream-cone-header.avif" alt="Ice cream cone" class="ice-cream-cone" />
    </div>
  </div>

  <!-- Container Dreapta: Elemente vizuale suplimentare și Call-to-Action -->
  <div class="right-container">
    <div class="burger-container">
      <svg class="icon-burger-menu">
          <use href="./images/icons.svg#icon-burger-menu"></use>
        </svg>
       </div>
    <div class="buy-now-container">
      <button class="buy-now-button">Buy Now ></button>
    </div>

    <div class="stats-container">
      <div class="stat">
        <svg class="cafes-number">
          <use href="./images/icons.svg#cafe-number-header"></use>
        </svg>
        <p>16 cafes</p>
      </div>

      <div class="stat">
        <svg class="food-truck-number">
          <use href="./images/icons.svg#food-truck-number-header"></use>
        </svg>
        <p>23 food trucks</p>
      </div>
    </div>

    <div class="person-container">
      <img src="./images/header/tasty1x.png" alt="Woman eating ice cream" class="person-image" />
    </div>
  </div>
</header>
