<section class="testimonials-section">
  <div class="gallery">
    <div class="first-container">
      <div class="img-testimonials-1"></div>
    </div>

    <div class="second-container">
      <div class="img-testimonials-2"></div>
      <div class="img-testimonials-3"></div>
    </div>

    <div class="third-container">
      <div class="img-testimonials-4"></div>
      <div class="img-testimonials-5"></div>
    </div>

    <div class="fourth-container">
      <div class="img-testimonials-6"></div>
      <div class="img-testimonials-7"></div>
    </div>

    <div class="fifth-container">
      <div class="img-testimonials-8"></div>
      <div class="img-testimonials-9"></div>
    </div>

    <div class="sixth-container">
      <div class="img-testimonials-10"></div>
    </div>
  </div>

  <div class="carousel">
    <div class="testimonials-container">
      <ul class="profile-picture-list">
        <li class="first-testimonial">
          <img
            class="customer-picture"
            src="./images/testimonials/testimonials1x.png"
            srcset="
              ./images/testimonials/testimonials1x.png 1x,
              ./images/testimonials/testimonials2x.png 2x
            "
            alt="Customer picture"
          />
          <div class="container-reviews">
            <svg class="quatation-mark">
              <use href="./images/icons.svg#icon-quatation-mark"></use>
            </svg>
            <p class="customer-review">
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
          </div>
          <div class="reviews-slider">
            <div class="container-red-dot">
              <svg class="red-dot-svg">
                <use href="./images/icons.svg#icon-red-dot"></use>
              </svg>

              <svg class="red-dot-svg">
                <use href="./images/icons.svg#icon-red-dot"></use>
              </svg>

              <svg class="red-dot-svg">
                <use href="./images/icons.svg#icon-red-dot"></use>
              </svg>
            </div>
            <span>Emily, Los Angeles</span>
            <div class="switch-button">
              <svg class="gray-dot first-dot">
                <use href="./images/icons.svg#icon-red-house"></use>
              </svg>

              <svg class="gray-dot second-dot">
                <use href="./images/icons.svg#icon-gray-dot"></use>
              </svg>

              <svg class="gray-dot third-dot">
                <use href="./images/icons.svg#icon-gray-dot"></use>
              </svg>
            </div>
          </div>
        </li>
        <li class="second-testimonial">
          <img
            class="customer-picture"
            src="./images/testimonials/testimonials2-1x.png"
            srcset="
              ./images/testimonials/testimonials2-1x.png 1x,
              ./images/testimonials/testimonials2-2x.png 2x
            "
            alt="Green Ice Cream"
          />
          <div class="container-reviews">
            <svg class="quatation-mark">
              <use href="./images/icons.svg#icon-quatation-mark"></use>
            </svg>
            <p class="customer-review ">
              The ice cream at your café is simply unbeatable! From the friendly
              staff to the charming ambiance, every visit feels special. 
            </p>
          </div>
          <div class="reviews-slider">
            <div class="container-red-dot">
              <svg class="red-dot-svg">
                <use href="./images/icons.svg#icon-red-dot"></use>
              </svg>

              <svg class="red-dot-svg">
                <use href="./images/icons.svg#icon-red-dot"></use>
              </svg>

              <svg class="red-dot-svg">
                <use href="./images/icons.svg#icon-red-dot"></use>
              </svg>
            </div>
            <span>Abigail, New York</span>
            <div class="switch-button">
              <svg class="gray-dot first-dot">
                <use href="./images/icons.svg#icon-red-house"></use>
              </svg>

              <svg class="gray-dot second-dot">
                <use href="./images/icons.svg#icon-gray-dot"></use>
              </svg>

              <svg class="gray-dot third-dot">
                <use href="./images/icons.svg#icon-gray-dot"></use>
              </svg>
            </div>
          </div>
        </li>
        <li class="third-testimonial">
          <img
            class="customer-picture"
            src="./images/testimonials/testimonials3-1x.png"
            srcset="
              ./images/testimonials/testimonials3-1x.png 1x,
              ./images/testimonials/testimonials3-2x.png 2x
            "
            alt="Green Ice Cream"
          />
          <div class="container-reviews">
            <svg class="quatation-mark">
              <use href="./images/icons.svg#icon-quatation-mark"></use>
            </svg>
            <p class="customer-review">
              Every trip to your café is a delightful experience. The rich and
              creamy ice cream paired with the warm, welcoming atmosphere makes
              it my go-to spot. 
            </p>
          </div>
          <div class="reviews-slider">
            <div class="container-red-dot">
              <svg class="red-dot-svg">
                <use href="./images/icons.svg#icon-red-dot"></use>
              </svg>

              <svg class="red-dot-svg">
                <use href="./images/icons.svg#icon-red-dot"></use>
              </svg>

              <svg class="red-dot-svg">
                <use href="./images/icons.svg#icon-red-dot"></use>
              </svg>
            </div>
            <span>Lisa, Florida</span>
            <div class="switch-button">
              <svg class="gray-dot first-dot">
                <use href="./images/icons.svg#icon-red-house"></use>
              </svg>

              <svg class="gray-dot second-dot">
                <use href="./images/icons.svg#icon-gray-dot"></use>
              </svg>

              <svg class="gray-dot third-dot">
                <use href="./images/icons.svg#icon-gray-dot"></use>
              </svg>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<script type="module">
  import { rotateReviewsListSection } from './js/carousel.js';
  rotateReviewsListSection();
</script>
